{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
     <form method='POST'>
         {% csrf_token %}
         <label>Username: {{form.username.Label}}</label>
         {{form.username}}
         <label>Password: {{form.password1.Label}}</label>
         {{form.password1}}
         <label>Re-enter Password: {{form.password2.Label}}</label>
         {{form.password2}}
         <input class ='button' type ='submit' value = 'register'>
     </form>


 
</body>
</html>