{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/tasklist.css' %}">
</head>

<body>
    Task List
    <h1>Hello, {{ user.username | title }}</h1>
    <div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
        <a href="{% url 'createtask' %}">Go Back</a>
    </div><br>
    <table class="task-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Created</th>
            <th class="task-actions">Actions</th>
        </tr>
    </thead>
        <tbody>
            {% for i in object_list %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.task }}</td>
                <td>{{ i.created }}</td>
                <td class="task-actions">
                    <a href="{% url 'delete' i.id %}">Delete</a>
                    <a href="{% url 'details' i.id %}">View</a>
                    <a href="{% url 'update' i.id %}">Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
